<nb-card>
    <nb-card-body class="login-form">
      <form [formGroup]="loginForm" (ngSubmit)="onLoginClick()">
        <label for="username">{{"username" | translate}}</label>
        <input
          nbInput
          type="text"
          formControlName="username"
          name="username"
          id="username"
          [disabled]="lockForm"
        />
        <br />
        <label for="password">{{"password" | translate}}</label>
        <input
          nbInput
          type="text"
          formControlName="password"
          name="password"
          id="password"
          [disabled]="lockForm"
        />
        <br />
        <input
          nbInput
          type="submit"
          [disabled]="loginForm.invalid && lockForm"
        />
      </form>
    </nb-card-body>
  </nb-card>