@use 'themes' as *;

@use '@nebular/theme/styles/globals' as *;

@include nb-install() {
  @include nb-theme-global();
};

app-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}